<div class="container my-5">
  <div class="row">
    <!-- Product Images Column -->
    <div class="col-md-6 mb-4">
        {% if book.image %}
            <img class="card-img-top" src="{{ book.image.url }}" alt="Product Name" class="img-fluid rounded mb-3 shadow-sm">
        {% endif %}
    </div>

    <!-- Product Info Column -->
    <div class="col-md-6">
      <h1 class="h2 mb-2">{{ book.name}}</h1>
      <p class="text-muted mb-3">SKU: 123456</p>
      <h3 class="h4 text-primary mb-3">{{ book.price }}</h3>
      <p class="mb-4">{{ book.description }}</p>
      <p class="mb-4">{{ book.is_available }}</p>
        <p class="mb-4">Category:
            {% if book.category %}
                {{ book.category.name }}
            {% else %}
                No category
            {% endif %}
        </p>

      <div class="d-flex align-items-center mb-4">
        <input type="number" class="form-control text-center me-3" value="1" min="1" style="width: 80px;">
        <button class="btn btn-primary btn-lg flex-grow-1">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
